<!--
body{
	font-size:9pt;
	margin-left:0px;
	scrollbar-face-color:#346633;
	scrollbar-highlight-color:#ffffff;
	scrollbar-shadow-color:#ececec;
	scrollbar-arrow-color:#ffffff;
	scrollbar-track-color:#ececec;
	scrollbar-darkshadow-color:#999966;
	background-color:#fcfcfc;
}

a:hover {
	font-size:9pt; color:#ff6600;
}

a {
	font-size: 9pt; text-decoration: none; color: #676767;
	noline:expression(this.onfocus=this.blur);
}

td {
	font-size: 9pt; color: #000000;
	padding-left: 5px;
}

.btn_grey {
	font-family: "			1"; font-size: 9pt; color: #333333;
	background-color: #eeeeee; cursor:hand; padding:1px; height:19px;
	border-top: 1px solid #ffffff; border-right:1px solid #666666;
	border-bottom: 1px solid #666666; border-left: 1px solid #ffffff;
}

input {
	font-family: "			1";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}

hr {
	border-style:solid;
	height:1px;
	color:#cccccc;
}
-->
<meta http-equiv="Content-Type" content="text/html; charset=GBK">